<%= render 'layouts/nav_bar' %>


<div style="padding: 0px 0px 0px;">
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
         <div class="col-md-offset-7">
            <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     Search
                  </button>
               </span>

               <input type="text" class="form-control">
            </div><!-- /input-group -->
         </div><!-- /.col-lg-6 --><br>
         <div class="col-lg-6">
         </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
   </form>
</div>

<div style="text-align:center" style="margin-bottom:20px">
  <h1>List of Problems</h1>
</div>


 <div class="container col-md-7" >
   <!-- title -->
       <div class="col-md-4">
         <h4> <strong>TItle</strong> </h4>
        </div>
    <!-- text -->
        <div class="col-md-7" style="padding-left:10px">
            <h4><strong>Text</strong></h4>
        </div>
   </div>

<br>


 <%= link_to 'Add problem', new_problem_path %>

 <% @problem.each do |problem| %>

   <div class="row" style="padding:2px 2px; background-color:#ecf0f1; margin-top:1px;">

   <div class="container col-md-7" >
   <!-- title -->
       <div class="col-md-4">
          <strong><%= problem.title %></strong>
        </div>
    <!-- text -->
        <div class="col-md-7" style="padding-left:10px">
          <%= problem.text.html_safe %>
        </div>
   </div>


        <div class="container col-md-4">
            <div class="col-md-3 btn btn-info"=><%= link_to 'Show', problem_path(problem) %></div>
            <div class="col-md-3 btn btn-success" style="margin-left:1px; margin-right:1px;"><%= link_to 'Edit', edit_problem_path(problem) %></div>
            <div class="col-md-3 btn btn-danger"><%= link_to 'Destroy', problem_path(problem),
                    method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
        <!-- end of row -->
   </div>

   <!-- end of container -->


  <% end %>




<br>


<%= link_to 'Back to Home', root_path %>