<%= render 'layouts/nav_bar' %>


<div style="margin: 20px 20px 0px;">
<form class="bs-example bs-example-form" role="form">
    <div class="row">
      <div class="col-md-offset-9">
        <div class="input-group">
          <%= form_tag url: 'problems', method: :get do %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search"%>
              <span class="input-group-btn">
                  <%= submit_tag "Search", class: "btn btn-default" %>
                <% end %>
              </span>
        </div>
      </div>
   </div>
</form>
</div>

<div style="text-align:center" style="margin-bottom:20px">
  <h1>List of Problems</h1>
  <div class="container "><%= link_to 'Add problem', new_problem_path %></div>
</div>

<br>
<div class="container">
 <% @problem.reverse_each do |problem| %>
   <div class="col-md-8" style="height:40px; border-bottom:1px solid #ccc; padding:2px 2px; margin-top:3px;">
   <div class="col-md-7" style="width:90%">
        <strong><%= link_to problem.title, problem %></strong>

    </div>
    <div class="col-md-1" style="width:10%"><%= button_to 'x', problem_path(problem),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

   </div>
   <!-- end of container -->
  <% end %>
    <div class="col-md-4" style="height:100%; border:1px solid #ccc">
      .....
    </div>
</div>
<br>

<div class="container">
<%= link_to 'Back to Home', root_path %>
</div>