<%= render 'layouts/nav_bar' %>
<div class="container">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="10" width="100%" style="border-bottom:1px solid #ccc; color:blue"><h3><%= @problem.title %></h3>
			</td>
		</tr>
		<tr>
			<td colspan="10" width="100%" style="height:200px; valign:top; margin:auto; background:transparent"><%= @problem.text.html_safe %>
			</td>
		</tr>
	</table>
</div>

<div  class="container">
	<strong><h3>Answers</h3></strong>
	<% @problem.solutions.each do |solution| %>
		<div class="jumbotron" style="background-color:#ecf0f1">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td colspan="10" width="100%" style="border-bottom:1px solid #ccc; color:blue"><h3>Answer:</h3>
					</td>
					<td colspan="1" width="100%"><%= pluralize(solution.votes.count, "vote") %></td>
					<td colspan="1" width="100%"><%= button_to '+1', upvote_problem_solution_path(@problem, solution), method: :get %></td>
					<td colspan="1" width="100%"><%= button_to '-1', downvote_problem_solution_path(@problem, solution), method: :get %></td>
				</tr>				
				<tr>
					<td colspan="10" width="100%" style="valign:top; margin:auto; background:transparent"><%= solution.text.html_safe %></td>
					
				</tr>
			</table>
		</div>
	<% end %>
</div>


<hr>
<div class="container">
	<h2>Your Answer</h2>
	<%= render "solutions/form" %>
</div>

<div class="container">
	<div class="btn btn-default " type="button" >
    	<%= link_to 'Back', problems_path %>
 	</div>
 </div>
