<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %><br>

<%= link_to 'Back', problems_path %>



<h2>Solutions</h2>

<% @problem.solutions.each do |solution| %>

<p>
  <strong>Solution:</strong>
  <%= solution.text %>
</p>
<% end %>




<h2>Your Solution</h2>
<%= render "solutions/form" %>