<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @problem.screenshot %>
</p>
<%= link_to 'Back', problems_path %>

<<<<<<< HEAD





<h2>Solution</h2>

<%= picture_tag problem.image_url(:thumb) if problem.image? %>

<h2>Solutions</h2>

<% @problem.solutions.each do |solution| %>

<p>
  <strong>Solution:</strong>
  <%= solution.text %>
</p>
<% end %>





<h2>Your Solution</h2>
<%= render "solutions/form" %>