<%= render 'layouts/nav_bar' %>
<div class="container">
<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %><br>
</p>
</div>





<div  class="container">
<h2>Solutions</h2>

<% @problem.solutions.each do |solution| %>
<div class="jumbotron" style="background-color:#ecf0f1">
<p>
  <strong>Solution:</strong>
  <%= solution.text %>
  <%= pluralize(solution.votes.count, "vote") %>
  <%= button_to '+1', upvote_problem_solution_path(@problem, solution), method: :get %>
</p>
</div>
<% end %>
</div>


<hr>
<div class="container" style="text-align:center">
<h2>Your Solution</h2>
<%= render "solutions/form" %>
</div>

<div class="container" style="text-align:center">
<div class="btn btn-default " type="button" >
    <%= link_to 'Back', problems_path %>
 </div>
 </div>
