<%= render 'layouts/nav_bar' %>
<div class="container">
<table>
<th style="border-bottom:1px solid #ccc; width:100%; font-weight: bold"><%= @problem.title %>
</th>
<tr>
  <td><%= @problem.text.html_safe %><br></td>
</tr>
</table>
</div>





<div  class="container">
<h3>Answers</h3>

<% @problem.solutions.each do |solution| %>
<div class="jumbotron" style="background-color:#ecf0f1">
<p>
  <strong>Answer:</strong>
  <table>
  <tr>
  <td><%= solution.text.html_safe %></td>
  <td><%= pluralize(solution.votes.count, "vote") %></td>
  <td><%= button_to '+1', upvote_problem_solution_path(@problem, solution), method: :get %></td>
  <td><%= button_to '-1', downvote_problem_solution_path(@problem, solution), method: :get %></td>
  </tr>
  </table>
</p>
</div>
<% end %>
</div>


<hr>
<div class="container" style="text-align:center">
<h2>Your Answer</h2>
<%= render "solutions/form" %>
</div>

<div class="container" style="text-align:center">
<div class="btn btn-default " type="button" >
    <%= link_to 'Back', problems_path %>
 </div>
 </div>
