<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %><br>

  <%= link_to 'Back', problems_path %>


  <h2>Solutions</h2>

  <%= render @problem.solutions %>

  <%= picture_tag problem.image_url(:thumb) if problem.image? %>


  <h2>Your Solution</h2>
  <%= render "solutions/form" %>