<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @problem.screenshot %>
</p>
<%= link_to 'Back', problems_path %>

<<<<<<< HEAD
<%= picture_tag problem.image_url(:thumb) if problem.image? %>
=======
<h2>Solutions</h2>
<% @problem.solutions.each do |comment| %>
<p>
  <strong>Solution</strong>
</p>

<p>
  <strong>Comment:</strong>
  <%= solution.text %>
</p>
<% end %>
>>>>>>> fd20c64317c59a8105dedf29a9678526d4f1ef6b
