<h2>Solutions</h2>
<% @problem.solutions.each do |comment| %>
<p>
  <strong>Solution</strong>
</p>

<p>
  <strong>Comment:</strong>
  <%= solution.text %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%= f.label :commenter %><br>
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
